.custom-scroll-bar {
  scrollbar-gutter: stable;
  padding-right: 4px;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 7px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.custom-scroll-bar:hover::-webkit-scrollbar-track {
  background-color: rgba(var(--colors-bgRGB), 0.4);
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100px;
}
.custom-scroll-bar:hover::-webkit-scrollbar-thumb {
  background-color: var(--colors-text);
}
